/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;

}

h1 {
    font-size: 60px;
    margin: 0 auto;
    font-weight: 800;
}

button {
    border: none;
    background-color: transparent;
    /* line-height: 20px; */
}

.btn {
    background-color: #0260FF;
    padding: 8px 10px;
    color: #fff;
    font-style: normal;
    cursor: pointer;
    /* margin: 10px; */

}

/* Header */

header {}

.header-container {
    background-color: #B4D0E6;
    padding-top: 100px;
    /* debug */
    /* height: 300px; */
}

#nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
    background-color: white;
    display: flex;
    padding: 10px 0;
    /* debug */
    /* height: 50px; */
}

.logo {
    padding: 10px;
    width: 8%;
}

.logo img {
    max-width: 100%;
}

.btn-top {
    padding: 10px;
}

/* List navbar */
.nav-bar {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

}

.nav-bar-list {
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
}

/* Jumbotron */

#jumbotron {
    width: 80%;
    margin: 0 auto;
}

.jumbo-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.jumbo-details {
    width: 50%;
}

.img-jumbo img {
    max-width: 100%;
}

.jumbo-details .btn {
    margin: 20px 0;
}

/* main */

.main-container {
    width: 70%;
    margin: 0 auto;
}

/* plan */

.plan-container {
    display: flex;
    gap: 20px;
}

.offer {
    width: calc((100% / 3) - (40px / 3));
}

.single-plan {
    background-color: #0260FF;
    height: 300px;

    border: 2px solid black;
}

.team-plan {
    background-color: #0260FF;
    height: 300px;

    border: 2px solid black;
}

.company-plan {
    background-color: #0260FF;
    height: 300px;

    border: 2px solid black;
}

.expert-plan {
    margin-top: 20px;
    background-color: #0260FF;
    height: 300px;
    border: 2px solid black;
}

/* partner */

#partner {
    display: flex;
    margin: 50px 0;
}

.partner-img {
    width: 50%;
    /* debug */
    background-color: #0260FF;
    height: 300px;
    border: 2px solid black;
}

.partner-details {
    width: 50%;
    /* debug */
    background-color: #0260FF;
    height: 300px;
    border: 2px solid black;
}

/* business */

#business {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.col-bus {
    width: calc((100% / 3) - (40px / 3));
    /* debug */
    background-color: #0260FF;
    height: 300px;
    border: 2px solid black;
}

/* Footer */

footer {
    background-color: black;
}

#footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-info {
    display: flex;
}

.info-link {
    width: calc(100% / 5);
    /* debug */
    background-color: #0260FF;
    height: 300px;
    border: 2px solid black;

}