/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
    
}

h1 {
    font-size: 80px;
    margin: 0 auto;
}
/* Header */

header {

}

.header-container {
    background-color: #B4D0E6;
    padding-top: 100px;
    /* debug */
    /* height: 300px; */
}

#nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
    background-color: white;
    display: flex;
    padding: 10px 0;
    /* debug */
    /* height: 50px; */
}

.logo {
    padding: 10px;
    width: 8%;
}

.btn-top {
    padding: 10px;

}
/* List navbar */
.nav-bar{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

}

.nav-bar-list {
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
}
 /* Jumbotron */

 #jumbotron {
    width: 80%;
    margin: 0 auto;
 }
 
 .jumbo-container {
    display: flex;
 }

 .jumbotron-details {
    width: 20%;
 }