/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Header */

header {

}

.header-container {
    background-color: #B4D0E6;
    padding-top: 100px;
    /* debug */
    /* height: 300px; */
}

#nav-container {
    /* width: 100%; */
    position: fixed;
    top: 0;
    z-index: 900;
    /* debug */
    background-color: blue;
    height: 50px;
}